

@{
    ViewBag.Title = "글 작성";
}

<div class="row">
    <div class="col-md-12">
        <h3 style="text-align: center;">글 작성</h3>

        <hr />

        <form method="post" class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>


            <div class="form-group">
                <label>제목</label>
                <input id="Subject"name="Subject" class="form-control" />
                <span  class="text-danger"></span>
            </div>

            <div class="form-group">
                <label >내용</label>
                <textarea id="Content"name="Content" wrap="hard" class="form-control" rows="10"></textarea>
                <span  class="text-danger"></span>
            </div>

            <div class="form-group">
                <button asp-controller="home" asp-action="list" class="btn btn-warning">이전</button>
                <button type="submit" class="btn btn-info" style="float: right;">등록</button>
            </div>
        </form>
    </div>
</div>
